---
import { YouTube } from '@astro-community/astro-embed-youtube'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import InfoSection from '../../components/InfoSection.astro'
import Transition from '../../components/Transition.astro'
import Layout from '../../layouts/Layout.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
	const acroEntries = await getCollection('acro')
	return acroEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}
const { entry } = Astro.props
const { Content } = await entry.render()
var params = ''
try {
	let url = new URL(entry.data.video || '')
	let _s = url.searchParams.get('t') || url.searchParams.get('start') || ''
	_s = _s?.replace('s', '')
	params = _s ? `start=${_s}` : ''
	console.log('start', params)
} catch {}
---

<Layout title={entry.data.name}>
	<article class="bg-gray-300 pb-4">
		<h1 class="text-center font-display text-3xl font-bold">{entry.data.name}</h1>

		<Image class="h-96 w-full object-cover" src={entry.data.image} alt="trick image" />

		<InfoSection data={entry} />

		<section class="pl-4 pr-4">
			<h3>Transiciones</h3>
			<Transition from={entry.data.name} data={entry.data.to} />

			<h3>Imagen</h3>
			<Image
				class="mx-auto block h-auto max-h-96 w-auto"
				src={entry.data.image}
				alt="trick image"
			/>

			{
				entry.data.video ? (
					<>
						<h3>Video</h3>
						<YouTube
							class="mx-auto block h-auto max-h-96 w-auto"
							id={entry.data.video}
							params={params}
						/>
					</>
				) : (
					<section>No video</section>
				)
			}

			<Content />
		</section>
	</article>
</Layout>

<style is:global>
	.seq {
		min-width: 0;
	}
	.seq p {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.seq img {
		object-fit: cover;
		height: revert-layer;
	}
	.variantes ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background: rgb(0, 0, 0, 78%);
		padding: 30px 10px;
		border-radius: 13px;
	}
	.variantes em {
		position: absolute;
		margin-top: -30px;
		margin-left: 10px;
		background: rgba(255, 255, 255, 40%);
		padding: 2px 7px;
	}
	.variantes li {
		width: 250px;
		height: 250px;
	}
	.variantes li p {
		height: 100%;
	}

	.variantes img {
		object-fit: cover;
		height: 100%;
		vertical-align: middle;
		border-radius: 5px;
	}
	html h1,
	html h2,
	html h3,
	html h4 {
		font-size: x-large;
		margin-bottom: 1rem;
		padding-top: 1rem;
		/* font-family: Montserrat; */
		font-weight: 700;
	}
</style>
