---
import { getCollection } from 'astro:content'
import MosaicItem from '../components/MosaicItem.astro'
import Layout from '../layouts/Layout.astro'
const allAcro = await getCollection('acro')
---

<Layout title="Acroyoga Wiki">
	<main class="sm: grid grid-cols-2 gap-2 px-2 sm:grid-cols-3 sm:gap-5">
		{
			allAcro.map((a) => (
				<MosaicItem
					title={a.data.name}
					level={a.data.level}
					p={`/acro/${a.slug}`}
					img={a.data.image}
					numPeople={a.data.numPeople}
				/>
			))
		}
	</main>
</Layout>
