---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
interface Props {
	title: string
	img: ImageMetadata
	level: string
	numPeople: string
	p: string
}

const { title, img, level, p, numPeople } = Astro.props
---

<article class="m-0 grid grid-cols-2 grid-rows-[250px] items-center bg-zinc-900 text-center">
	<h2 class="col-span-2 pt-1">
		<a class="!text-white" href={p}>{title}</a>
	</h2>

	<div class="order-first col-span-2">
		<a href={p}><Image class="h-64 w-full object-cover" src={img} alt="test" /></a>
	</div>
	<!-- <div class="wiki-item-type">
	  <a href={`${prefix}/${post.skill}`}>{post.skill}</a>
	</div> -->
	{/* <TagList class='tags2' prefix={''} tags={post.tags}></TagList> */}
	<div class="wiki-item-level">
		<a href={`/`} class="text-sm !text-gray-500">
			{level}
		</a>
	</div>

	<div class="">
		<a href={`/`} class="text-sm !text-gray-500">
			{numPeople}
		</a>
	</div>
</article>

<style></style>
